@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *, *::before, *::after {
    @apply box-border;
  }

  body {
    @apply font-sans text-gray-900 bg-gray-50 leading-relaxed;
  }
}
